.articles{
    background-color: $veryLightGrey;
}

.article{
    &__content{

    }
    &__grid{
        display: grid;        
        grid-template-columns: 1fr;//fr will take as much space as possible and try to fit items inside
        gap: 1.875rem;

        @include breakpoint-up(medium){
            grid-template-columns: repeat(2, 1fr);
        }

        @include breakpoint-up(large){
            grid-template-columns: repeat(4, 1fr);
        }
    }
    &__item{
        background-color: $white;
        border-radius: .3125rem;
        overflow: hidden;// so that border radius works
        box-shadow: 0px 3px 12px rgba(0,0,0,0.15);//shadow verticalPossition spread color
        transition: all 150ms ease-in-out;//controls the smoothness of animation
        &:hover{
            transform: scale(1.15);
        }
    
    }
    &__image{
        height: 12.5rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
    &__text{
        padding: 1.875rem 1.875rem 2.5rem 1.875rem; 
        color: $grayishBlue;    
        
        @include breakpoint-up(medium){
            padding: 1.875rem 1.5625;
        }
    }
    &__author{
        font-size: .625rem;
        padding-bottom: .75rem;
    }
    &__title{
        font-size: 1.0625rem;
        line-height: 1.2;
        color: $darkBlue;
        padding-bottom: .5rem;
    }
    &__description{
        font-size: .8125rem;
    }
}